<p>Here will be:
a list of questions with links to question details
an add question form
</p>

<ul>
  {{#each model as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>

{{outlet}}
