<h2>More information about {{model.author}}'s question: {{model.shortQuestion}}</h2>

{{question-detail question=model destroyQuestion="destroyQuestion"}}

{{update-question question=model update="update"}}
